force-app/main/default/flows/Borrar_Equipos_de_casos_predefinidos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Borrar_si_tiene_equipo</name>
        <label>Borrar si tiene equipo</label>
        <locationX>572</locationX>
        <locationY>334</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>tiene_equipo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Casosconcelula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>idequipo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_equipo_de_caso</targetReference>
            </connector>
            <label>tiene equipo</label>
        </rules>
    </decisions>
    <interviewLabel>Borrar Equipos de casos predefinidos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Borrar Equipos de casos predefinidos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Eliminar_equipo_de_caso</name>
        <label>Eliminar equipo de caso</label>
        <locationX>803</locationX>
        <locationY>60</locationY>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecord</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
    </recordDeletes>
    <recordLookups>
        <name>Buscar_caso</name>
        <label>Buscar caso</label>
        <locationX>431</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtener_equipo_de_caso</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecord</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>IdRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Casosconcelula</assignToReference>
            <field>caso_con_celula__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_de_caso</name>
        <label>obtener equipo de caso</label>
        <locationX>586</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Borrar_si_tiene_equipo</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecord</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputAssignments>
            <assignToReference>idequipo</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Buscar_caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Casosconcelula</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idequipo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
