force-app/main/default/flows/BOT_crear_y_cerrar_caso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>cuentaexiste</name>
        <label>cuentaexiste</label>
        <locationX>753</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iddecuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_caso</targetReference>
            </connector>
            <label>existe</label>
        </rules>
        <rules>
            <name>noexiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iddecuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_caso_sin_cuenta</targetReference>
            </connector>
            <label>noexiste</label>
        </rules>
    </decisions>
    <description>Flow para crear caso cuando la respuesta es no puedo ayudarte mas</description>
    <interviewLabel>BOT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BOT crear y cerrar caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_caso</name>
        <label>Crear caso</label>
        <locationX>991</locationX>
        <locationY>96</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>iddecuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>Oficina</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>BOT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Usuario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Maxima</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Consultas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Respuestas por BOT</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_caso_sin_cuenta</name>
        <label>Crear caso sin cuenta</label>
        <locationX>463</locationX>
        <locationY>448</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>Oficina</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>BOT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Usuario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Maxima</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Consultas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Respuestas por BOT</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>cuenta</name>
        <label>cuenta</label>
        <locationX>602</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recordtype</targetReference>
        </connector>
        <filters>
            <field>Numero_de_documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Documento</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>iddecuenta</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>recordtype</name>
        <label>recordtype</label>
        <locationX>466</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cuentaexiste</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultas</stringValue>
            </value>
        </filters>
        <object>Tipo_de_registro__mdt</object>
        <outputAssignments>
            <assignToReference>Consultas</assignToReference>
            <field>idtipoderegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>66</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>cuenta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Consultas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Documento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idconsulta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iddecuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oficina</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01m1U000000rb2C</stringValue>
        </value>
    </variables>
    <variables>
        <name>Usuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0051U0000043d1A</stringValue>
        </value>
    </variables>
</Flow>
