force-app/main/default/flows/Eliminar_equipo_de_casos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Eliminar equipo de casos al salir del nivel 3</description>
    <interviewLabel>Eliminar equipo de casos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eliminar equipo de casos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Eliminar_equipo_de_caso</name>
        <label>Eliminar equipo de caso</label>
        <locationX>803</locationX>
        <locationY>61</locationY>
        <filters>
            <field>ParentId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
    </recordDeletes>
    <recordLookups>
        <name>Buscar_caso</name>
        <label>Buscar caso</label>
        <locationX>428</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eliminar_equipo_de_caso</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Buscar_caso</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>IdRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
