force-app/main/default/flows/Equipo_de_casos_predefinido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Definir_celula</name>
        <label>Definir celula</label>
        <locationX>3284</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Celula_111</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_1</targetReference>
            </connector>
            <label>Celula 1</label>
        </rules>
        <rules>
            <name>Celula_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_2</targetReference>
            </connector>
            <label>Celula 2</label>
        </rules>
        <rules>
            <name>Celula_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_3</targetReference>
            </connector>
            <label>Celula 3</label>
        </rules>
        <rules>
            <name>Celula_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_4</targetReference>
            </connector>
            <label>Celula 4</label>
        </rules>
        <rules>
            <name>Celula_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_5</targetReference>
            </connector>
            <label>Celula 5</label>
        </rules>
        <rules>
            <name>Celula_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_6</targetReference>
            </connector>
            <label>Celula 6</label>
        </rules>
        <rules>
            <name>Celula_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_7</targetReference>
            </connector>
            <label>Celula 7</label>
        </rules>
        <rules>
            <name>Celula_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_8</targetReference>
            </connector>
            <label>Celula 8</label>
        </rules>
        <rules>
            <name>Celula_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_9</targetReference>
            </connector>
            <label>Celula 9</label>
        </rules>
        <rules>
            <name>Celula_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_10</targetReference>
            </connector>
            <label>Celula 10</label>
        </rules>
        <rules>
            <name>Celula_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_11</targetReference>
            </connector>
            <label>Celula 11</label>
        </rules>
        <rules>
            <name>Celula12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Celula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celula 12</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_equipo_celula_12</targetReference>
            </connector>
            <label>Celula 12</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_1</name>
        <label>tiene equipo celula 1</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Equipo_Celula_1</targetReference>
            </connector>
            <label>no tiene equipo 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_10</name>
        <label>tiene equipo celula 10</label>
        <locationX>4934</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo10</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_celula_10</targetReference>
            </connector>
            <label>no tiene equipo 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_11</name>
        <label>tiene equipo celula 11</label>
        <locationX>5462</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo11</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_celula_11</targetReference>
            </connector>
            <label>no tiene equipo 11</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_12</name>
        <label>tiene equipo celula 12</label>
        <locationX>5990</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo12</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_celula_12</targetReference>
            </connector>
            <label>no tiene equipo 12</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_2</name>
        <label>tiene equipo celula 2</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_celula_2</targetReference>
            </connector>
            <label>no tiene equipo 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_3</name>
        <label>tiene equipo celula 3</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_celula_3</targetReference>
            </connector>
            <label>no tiene equipo 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_4</name>
        <label>tiene equipo celula 4</label>
        <locationX>1766</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_celula_4</targetReference>
            </connector>
            <label>no tiene equipo 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_5</name>
        <label>tiene equipo celula 5</label>
        <locationX>2294</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_registro_equipo_celula_5</targetReference>
            </connector>
            <label>no tiene equipo 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_6</name>
        <label>tiene equipo celula 6</label>
        <locationX>2822</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_de_caso_6</targetReference>
            </connector>
            <label>no tiene equipo 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_7</name>
        <label>tiene equipo celula 7</label>
        <locationX>3350</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_de_celula_7</targetReference>
            </connector>
            <label>no tiene equipo 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_8</name>
        <label>tiene equipo celula 8</label>
        <locationX>3878</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo8</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_celula_8</targetReference>
            </connector>
            <label>no tiene equipo 8</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_equipo_celula_9</name>
        <label>tiene equipo celula 9</label>
        <locationX>4406</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_equipo_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>equipo9</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipo_de_celula_9</targetReference>
            </connector>
            <label>no tiene equipo 9</label>
        </rules>
    </decisions>
    <interviewLabel>Equipo de casos predefinido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Equipo de casos predefinido</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Agregar_Equipo_Celula_1</name>
        <label>Agregar Equipo Celula 1</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula1</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_registro_equipo_celula_5</name>
        <label>Crear registro equipo celula 5</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula5</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_celula_10</name>
        <label>Equipo celula 10</label>
        <locationX>4802</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula10</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_celula_11</name>
        <label>Equipo celula 11</label>
        <locationX>5330</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula11</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_celula_12</name>
        <label>Equipo celula 12</label>
        <locationX>5858</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula_12</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_celula_2</name>
        <label>Equipo celula 2</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula2</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_celula_3</name>
        <label>Equipo celula 3</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula3</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_celula_4</name>
        <label>Equipo celula 4</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula4</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_celula_8</name>
        <label>Equipo celula 8</label>
        <locationX>3746</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula8</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_de_caso_6</name>
        <label>Equipo de caso 6</label>
        <locationX>2690</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula6</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_de_celula_7</name>
        <label>Equipo de celula 7</label>
        <locationX>3218</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula7</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Equipo_de_celula_9</name>
        <label>Equipo de celula 9</label>
        <locationX>4274</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>Celula9</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_caso</name>
        <label>Buscar caso</label>
        <locationX>3284</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Definir_celula</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Celula</assignToReference>
            <field>Celula__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_1</name>
        <label>obtener equipo celula 1</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_1</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula1</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo1</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_10</name>
        <label>obtener equipo celula 10</label>
        <locationX>4934</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_10</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula10</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo10</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_11</name>
        <label>obtener equipo celula 11</label>
        <locationX>5462</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_11</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula11</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo11</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_12</name>
        <label>obtener equipo celula 12</label>
        <locationX>5990</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_12</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula12</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo12</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_2</name>
        <label>obtener equipo celula 2</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_2</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula2</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_3</name>
        <label>obtener equipo celula 3</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_3</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula3</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo3</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_4</name>
        <label>obtener equipo celula 4</label>
        <locationX>1766</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_4</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula4</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo4</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_5</name>
        <label>obtener equipo celula 5</label>
        <locationX>2294</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_5</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula5</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo5</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_6</name>
        <label>obtener equipo celula 6</label>
        <locationX>2822</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_6</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula6</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo6</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_7</name>
        <label>obtener equipo celula 7</label>
        <locationX>3350</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_7</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula7</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo7</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_8</name>
        <label>obtener equipo celula 8</label>
        <locationX>3878</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_8</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula8</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo8</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>obtener_equipo_celula_9</name>
        <label>obtener equipo celula 9</label>
        <locationX>4406</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_equipo_celula_9</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Celula9</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>equipo9</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>3158</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_caso</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Celula</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2F0B4Q00000004DOe</stringValue>
        </value>
    </variables>
    <variables>
        <name>Celula10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula9</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Celula_12</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>equipo1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo10</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo11</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo12</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo8</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>equipo9</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>idRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
