force-app/main/default/flows/WhatsApp_To_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Asignar_Cuenta_Al_Caso</name>
        <label>Asignar Cuenta Al Caso</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>CasoACrear.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Encontrar_cuenta_basado_en_el_numero_de_WhatApp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insertar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Valores_al_nuevo_Caso</name>
        <label>Asignar Valores al nuevo Caso</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CasoACrear.iOrigen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WhatsApp Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasoACrear.iPrioridad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maxima</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasoACrear.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasoACrear.Sesion_de_Mensajeria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasoACrear.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasoACrear.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Datos_CDC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Establecer_Numero_de_WhatsApp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Establecer_Numero_de_WhatsApp</name>
        <label>Establecer Número de WhatsApp</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>WhatsAppNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Encontrar_cuenta_basado_en_el_numero_de_WhatApp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asignar_Cuenta</name>
        <label>¿Asignar Cuenta?</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Insertar_Caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Asignar_Cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encontrar_cuenta_basado_en_el_numero_de_WhatApp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cuenta_Al_Caso</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crear_Caso</name>
        <label>¿Crear Caso?</label>
        <locationX>468</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Crear_Caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MessagingEndUser.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>whatsapp:+5491558649293</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Datos_CDC</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Versión de prueba Tel Mariana</description>
    <formulas>
        <name>ReturnNumber</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.MessagingEndUser.Name}, &apos;whatsapp:+549&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>WhatsApp-To-Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WhatsApp-To-Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insertar_Caso</name>
        <label>Insertar Caso</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <inputReference>CasoACrear</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Encontrar_cuenta_basado_en_el_numero_de_WhatApp</name>
        <label>Encontrar cuenta basado en el número de WhatApp</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Cuenta</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Insertar_Caso</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatsAppNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Codigo_de_Afiliado__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Datos_CDC</name>
        <label>Obtener Datos CDC</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_RecordType</name>
        <label>Obtener RecordType Caso a Tipificar</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Valores_al_nuevo_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Caso_a_tipificar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Caso</targetReference>
        </connector>
        <object>MessagingSession</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CasoACrear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>WhatsAppNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
